[submodule "test2/UnitsCalc"]
	path = test/UnitsCalc
	url = https://github.com/sjswitzer/UnitsCalc.git
	branch = test
[submodule "UnitsCalc"]
	path = UnitsCalc
	url = https://github.com/sjswitzer/UnitsCalc.git
	branch = main
[submodule "test/SchemeJS"]
	path = test/SchemeJS
	url = https://github.com/sjswitzer/SchemeJS.git
	branch = test
